@font-face {
  font-family: "San Francisco";
  src: url("assets/font/SF-Pro-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "San Francisco";
  src: url("assets/font/SF-Pro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("assets/font/SF-Pro-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "San Francisco";
  src: url("assets/font/SF-Pro-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "San Francisco";
  src: url("assets/font/SF-Pro-Black.otf") format("opentype");
  font-weight: 900;
}
