:root {
  --special-color: #794bca;

  /* Backgrounds */
  --primary-bg-color: #191918;
  --secondary-bg-color: #2e2f2f;
  --special-bg-color: #794bca;

  /* Texts */
  --primary-text-color: #ffffff;
  --secondary-text-color: #9c9ca2;
}

body {
  padding: 4rem;
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "San Francisco", sans-serif;
}

nav {
  display: flex;
  height: 9rem;
  justify-content: space-between;
  padding: 20px 10px 20px 20px;
}

.button-soft-bg {
  display: flex;
  background-color: var(--special-bg-color);
  padding-right: 1rem;
  padding-left: 1rem;
  align-content: center;
  justify-content: center;
  height: 70%;
  align-self: center;
  border-radius: 1rem;
  cursor: pointer;
}

#menu-icon {
  width: 60%;
}
