:root {
  /* COLORS */
  --special-color: #794bca;

  /* Backgrounds */
  --primary-bg-color: #191918;
  --secondary-bg-color: #2e2f2f;
  --special-bg-color: #794bca;

  /* Texts */
  --primary-text-color: #ffffff;
  --secondary-text-color: #9c9ca2;

  /* FONT SIZES */
  --font-size-h1: 6.5rem;
  --font-size-section-title: 4rem;
  --font-size-section-subtitle: 2.5rem;
  --font-size-card-context: 3.5rem;
  --font-size-primary: 2.3rem;
  --font-size-button: 2.3rem;
}

body {
  padding: 4rem;
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "San Francisco", sans-serif;
}

h1 {
  font-size: var(--font-size-h1);
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  height: 9rem;
  justify-content: space-between;
  padding: 20px 10px 20px 20px;
}

.button-soft-bg {
  display: flex;
  background-color: var(--special-bg-color);
  padding-right: 1rem;
  padding-left: 1rem;
  align-content: center;
  justify-content: center;
  height: 70%;
  align-self: center;
  border-radius: 1rem;
  cursor: pointer;
}

#menu-icon {
  width: 60%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

section#header {
  p {
    font-size: var(--font-size-primary);
    margin: 0;
    margin-top: 1rem;
  }
}

section#download-ios {
  #btn-download-ios {
    display: flex;
    background-color: var(--special-bg-color);
    padding-right: 3rem;
    padding-left: 3rem;
    gap: 2rem;
    border-radius: 5rem;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
  }

  #ios-logo {
    width: 4rem;
  }

  #btn-download-ios p {
    font-size: var(--font-size-button);
  }

  p {
    font-size: 1.8rem;
    margin-top: 2.5rem;
  }

  #img-header-home-page {
    width: 50%;
    margin-top: 2rem;
  }
}

.section-title {
  text-align: start;
  font-size: var(--font-size-section-title);
  align-self: flex-start;
  margin: 0;
  margin-top: 2rem;
}

.section-subtitle {
  text-align: start;
  font-size: var(--font-size-section-subtitle);
  align-self: flex-start;
  margin: 0;
  margin-top: 1rem;
  line-height: 3.5rem;
}

section#overview {
  h3 {
    font-size: var(--font-size-card-context);
    text-align: center;
    margin: 0;
    margin-top: 2rem;
  }

  img {
    width: 100%;
    margin-top: 6.5rem;
    border-radius: 2rem;
  }
}
