:root {
  /* COLORS */
  --special-color: #794bca;
  --special-gold-color: #ffdb5a;

  /* Backgrounds */
  --primary-bg-color: #191918;
  --secondary-bg-color: #2e2f2f;
  --special-bg-color: #794bca;

  /* Texts */
  --primary-text-color: #ffffff;
  --secondary-text-color: #9c9ca2;

  /* FONT SIZES */
  --font-size-h1: 2.5rem;
  --font-size-section-title: 1.5rem;
  --font-size-section-subtitle: 1rem;
  --font-size-card-context: 1.6rem;
  --font-size-primary: 1rem;
  --font-size-secondary: 0.9rem;
  --font-size-button: 1rem;
  --font-size-nav: 1rem;
  --font-size-footer-title: 1.2rem;

  @media (min-width: 1024px) {
    --font-size-h1: 3rem;
    --font-size-section-title: 2rem;
    --font-size-section-subtitle: 1.3rem;
    --font-size-card-context: 1.6rem;
    --font-size-primary: 1.3rem;
    --font-size-secondary: 1rem;
    --font-size-button: 1.2rem;
    --font-size-nav: 1.2rem;
    --font-size-footer-title: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
a,
p {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "San Francisco", sans-serif;

  #content {
    padding: 1rem 2rem;
  }
}

.button-soft-bg {
  display: flex;
  background-color: var(--special-bg-color);
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  align-content: center;
  justify-content: center;
  height: 40%;
  align-self: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;

  #nav-content {
    display: flex;
    height: 6rem;
    justify-content: space-between;

    #home-logo {
      width: 3.5rem;
    }

    #menu-icon {
      width: 55%;
      transition:
        transform 0.3s ease,
        opacity 0.2s ease;
    }

    #menu-icon.icon-change {
      animation: iconSwap 0.3s ease-in-out;
    }
  }

  #expandable-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition:
      opacity 0.5s ease-in-out,
      max-height 0.4s ease;
  }

  #expandable-nav a {
    font-size: var(--font-size-nav);
    opacity: 0;
    transform: translateY(-10px) scale(0.8);
    animation: popIn 0.4s ease forwards;
    color: var(--primary-text-color);
    text-decoration: none;
  }

  #expandable-nav a:nth-child(1) {
    animation-delay: 0.1s;
  }

  #expandable-nav a:nth-child(2) {
    animation-delay: 0.2s;
  }

  #expandable-nav a:nth-child(3) {
    animation-delay: 0.3s;
  }

  #expandable-nav.hidden {
    opacity: 0;
    max-height: 0;
    padding: 0;
    pointer-events: none;
  }

  #expandable-nav.hidden a {
    animation: none;
    opacity: 0;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  #download-ios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h1 {
      font-size: var(--font-size-h1);
      text-align: center;
      margin-top: 1rem;
    }

    p {
      font-size: var(--font-size-primary);
      line-height: calc(var(--font-size-primary) * 1.5);
      text-align: center;
    }

    #btn-download-ios {
      display: flex;
      background-color: var(--special-bg-color);
      padding: 0.5rem 1rem;
      gap: 1rem;
      border-radius: 5rem;
      margin-top: 1rem;
      cursor: pointer;
      align-items: center;
    }

    #ios-logo {
      width: 2rem;
    }

    #btn-download-ios p {
      font-size: var(--font-size-button);
    }

    #secondary-text {
      font-size: var(--font-size-secondary);
    }
  }

  #img-header-home {
    width: 50%;
    margin-top: 1.5rem;
  }
}

.section-title {
  text-align: start;
  font-size: var(--font-size-section-title);
  align-self: flex-start;
  margin-top: 2rem;
}

.section-subtitle {
  text-align: start;
  font-size: var(--font-size-section-subtitle);
  line-height: calc(var(--font-size-section-subtitle) * 1.3);
  align-self: flex-start;
  margin-top: 0.5rem;
}

section#overview,
section#details {
  h3 {
    font-size: var(--font-size-card-context);
    text-align: center;
    margin-top: 1rem;
  }

  img {
    width: 100%;
    margin-top: 2rem;
    border-radius: 2rem;
  }
}

footer {
  background-color: var(--secondary-bg-color);
  margin: 0;
  padding: 1rem;

  #footer-content {
    h4 {
      font-size: var(--font-size-footer-title);
      margin-bottom: 1.3rem;
    }

    p {
      font-size: var(--font-size-secondary);
    }

    a {
      font-size: var(--font-size-primary);
      color: var(--primary-text-color);
      text-decoration: none;
      align-self: flex-start;
    }
  }
}

footer > *,
#footer-content > * {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 1rem;
}

@media (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    #mobile-menu-button {
      display: none;
    }

    #expandable-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      overflow: hidden;
      transition:
        opacity 0.5s ease-in-out,
        max-height 0.4s ease;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 5rem;

    #download-ios {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h1 {
        font-size: var(--font-size-h1);
        text-align: start;
        margin-top: 1rem;
      }

      p {
        font-size: var(--font-size-primary);
        line-height: calc(var(--font-size-primary) * 1.5);
        text-align: start;
      }

      #btn-download-ios {
        display: flex;
        background-color: var(--special-bg-color);
        padding: 0.5rem 1rem;
        gap: 1rem;
        border-radius: 5rem;
        margin-top: 1rem;
        cursor: pointer;
        align-items: center;
      }

      #ios-logo {
        width: 2rem;
      }
    }

    #img-header-home {
      width: 35%;
      margin-top: 1.5rem;
    }
  }

  section#overview,
  section#details {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: var(--font-size-card-context);
      text-align: center;
      margin-top: 1rem;
    }

    img {
      width: 100%;
      margin-top: 2rem;
      border-radius: 2rem;
    }
  }

  section#details {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 2rem;
  }

  .feature img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }

  #footer-content {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 5rem;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.8);
  }
  60% {
    transform: translateY(0) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes iconSwap {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(90deg) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
}
